@font-face {
    font-family: "Bebas Neue";
    src: url("../assets/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans";
    src: url("../assets/fonts//DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "DM Mono";
    src: url("../assets/fonts/DMMono-Regular.ttf") format("truetype");
    font-weight: 400;
}